node_modules
jeopardy-game/src/images/background-image3.png
jeopardy-game/src/images/background-image2.jpeg
jeopardy-game/src/images/background-image4.png
jeopardy-game/src/images/background-image.jpg