body {
  /* background-color: #ffffff; */
  color: white;
  font-family: 'Arial', sans-serif;
  /* background: #000000; */
  /* background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(128, 108, 0, 1) 100%); */
  background-image: url('images/background-image4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root > * {
  margin: 0 auto;
}
