body {
  color: white;
  font-family: 'Arial', sans-serif;
  background-image: url('images/background-image4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root > * {
  margin: 0 auto;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}