.categories {
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: nowrap;
  border: 1px solid white;
}

.category-name {
  background: #ffc824e1;
  color: white; 
  width: 250px;
  height: 150px;
  border: solid 1px white;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  text-align: center;
  border-color: white;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.054);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  margin: 10px;
  border: 1px solid white;
  height: 90vh; 
  width: 75vw;
}

.gameboard-title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}