.card {
  background: #ffc824e1;
  color: #ffffff; 
  width: 250px;
  height: 200px;
  border: solid 1px white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  transition: background-color 0.3s, transform 0.3s;
}

.card:hover {
  background-color: #ebde21;
  transform: scale(1.05);
}