.card {
  background: #ffc824e1;
  color: #ffffff; 
  width: 300px;
  height: 175px;
  border: solid 1px white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.card:hover {
  background-color: #ebde21;
  transform: scale(1.05);
}

.card.answered {
  background-color: #ffffff;
  color: green;
  border: 1px solid #ccc;
  cursor: not-allowed;
}